rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function getUserRole() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role;
    }
    function isManager() {
      return request.auth != null && getUserRole() in ['manager', 'admin'];
    }
    function isAdmin() {
      return request.auth != null && getUserRole() == 'admin';
    }

    match /users/{uid} {
      allow read: if request.auth != null && (request.auth.uid == uid || isManager());
      allow create: if request.auth != null && request.auth.uid == uid;
      allow update: if request.auth != null && request.auth.uid == uid
                    && !request.resource.data.diff(resource.data).affectedKeys().hasAny(['role']);
      allow update: if isAdmin();
    }

    match /contacts/{docId} {
      allow create: if request.resource.data.name is string
                    && request.resource.data.name.size() > 0
                    && request.resource.data.email is string
                    && request.resource.data.email.size() > 0;
      allow read, delete: if isManager();
      allow update: if false;
    }

    match /bookings/{bookingId} {
      allow read: if true;
      allow create: if request.auth != null
                    && request.resource.data.userId == request.auth.uid;
      allow delete: if request.auth != null
                    && (resource.data.userId == request.auth.uid || isManager());
      allow update: if false;
    }
  }
}
